html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-width: 45em;
}

.text {
  margin-left: 1rem;
  width: inherit;
}

.text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.btn-big a {
  background-color: #444;
  padding: .5em .75em;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.btn-big a:hover {
  background-color: #000;
}
